<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">   
        <!-- This is used to get all the form in a single row and then divide it into 12 columns -->
        <div class="col-8 offset-2">
            <h3>Create a new listing</h3>
            <form action="/listings" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter Description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" placeholder="Enter image/url" class="form-control">
                </div>
               <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control">
                </div>
                <div class="mb-3 col-md-8">
                    <!-- Ths means they will take 8 columns above medium size else entire row  -->
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
                </div>
                
               </div>
               <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">
            </div>
                <button class="btn btn-dark mb-3 ">Create</button>
            </form>
        </div>
    </div>
</body>
